<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baa696">  <td>22/06/22 21:19:18</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass2.CloseWebpage()[pri:0, instance:TestDSAlgo.TestSignInUser@5ddcc487]">&lt;&lt;CloseWebpage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="baa696">  <td>22/06/22 21:19:53</td>   <td>34182</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass2.CloseWebpage()[pri:0, instance:TestDSAlgo.TestSignInUser@492691d7]">&lt;&lt;CloseWebpage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="bee280">  <td>22/06/22 21:18:56</td>   <td>-22568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataStructure.DSArray_Test1()[pri:1, instance:TestDSAlgo.TestDataStructure@1583741e]">DSArray_Test1</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="bee280">  <td>22/06/22 21:19:33</td>   <td>15068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataStructure.DSArray_Test1()[pri:1, instance:TestDSAlgo.TestDataStructure@27216cd]">DSArray_Test1</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="bee280">  <td>22/06/22 21:19:11</td>   <td>-7002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataStructure.DSStack_Test2()[pri:2, instance:TestDSAlgo.TestDataStructure@1583741e]">DSStack_Test2</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="bee280">  <td>22/06/22 21:19:45</td>   <td>27108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataStructure.DSStack_Test2()[pri:2, instance:TestDSAlgo.TestDataStructure@27216cd]">DSStack_Test2</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="baa696">  <td>22/06/22 21:18:42</td>   <td>-36641</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass2.LaunchURL(java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@5ddcc487]">&gt;&gt;LaunchURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="baa696">  <td>22/06/22 21:19:19</td>   <td>789</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass2.LaunchURL(java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@492691d7]">&gt;&gt;LaunchURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="6fd5a0">  <td>22/06/22 21:18:54</td>   <td>-23952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignInUser.SignInUser_Test(java.lang.String,java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@5ddcc487]">SignInUser_Test</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="6fd5a0">  <td>22/06/22 21:18:54</td>   <td>-23952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignInUser.SignInUser_Test(java.lang.String,java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@5ddcc487]">SignInUser_Test</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="6fd5a0">  <td>22/06/22 21:19:32</td>   <td>13967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignInUser.SignInUser_Test(java.lang.String,java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@492691d7]">SignInUser_Test</td> 
  <td>main@851912430</td>   <td></td> </tr>
<tr bgcolor="6fd5a0">  <td>22/06/22 21:19:32</td>   <td>13967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignInUser.SignInUser_Test(java.lang.String,java.lang.String)[pri:0, instance:TestDSAlgo.TestSignInUser@492691d7]">SignInUser_Test</td> 
  <td>main@851912430</td>   <td></td> </tr>
</table>
